In [ ]:
a=[]
for i in range(1,21):
  a=a+[i]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

Create a list of the first 20 natural numbers

Compute the sum of all even numbers in the list.

In [ ]:
s=0
for i in a:
  s+=i
print(s)

210

Compute the product of all odd numbers in the list.

In [ ]:
m=1
for i in a:
  if i%2!=0:
    m*=i
print(m)

654729075

Calculate the mean, median, and standard deviation of the list.

In [ ]:
j=0
s=0
s1=0
for i in a:
  j=j+1
  s=s+i
mean=s/j
print(mean)
if j%2==0:
  median=(a[j//2]+a[j//2-1])/2
else:
  median=a[j//2]
print(median)
for i in a:
  s1=s1+(i-mean)**2
sd=(s1/j)**0.5
print(sd)

10.5
10.5
5.766281297335398

Explain the difference between mutable and immutable data types in Python. Provide examples of each.

mutable data type: it means you can change, add or remove elements without creating another object. ex: list, dictionary
immutable data type: You cannot modify elements without creating another object.
example: string

Write a Python function that takes a number n and returns a list of the first n Fibonacci numbers.

In [ ]:
 n=int(input())
 s=0
 a=[0,1]
 for i in range (n-2):
  s= a[-1]+a[-2]
  a+=[int(s) ]
print(a)

5
[0, 1, 1, 2, 3]

List Manipulation:
Given a list [3, 5, 7, 9, 11, 13]:
Insert 6 at the 3rd index.
Remove the number 7 from the list.
Reverse the list.
Calculate the mean and median of the modified list.

In [ ]:
a= [3, 5, 7, 9, 11, 13]
a.insert(3,6)
print(a)
a.remove(7)
print(a)
a.reverse()
print(a)
total=sum(a)
j=0
for i in a:
  j+=1
mean=total/j
print(mean)
if j%2==0:
  median=(a[j//2]+a[j//2-1])/2
else:
  median=a[j//2]
print(median)

[3, 5, 7, 6, 9, 11, 13]
[3, 5, 6, 9, 11, 13]
[13, 11, 9, 6, 5, 3]
7.833333333333333
7.5

Write a program to read a comma-separated list of numbers from the user (e.g., “10, 20, 30, 40”).
Calculate the mean of the numbers.
Identify and print the smallest and largest numbers.
**Plot a histogram of the numbers.**

In [ ]:
numbers= list(map(int,input().split(','))) #take several inputs at once
print(numbers)
mean=sum(numbers)/len(numbers)
print(mean)
#print(max(numbers)) #to find max
#print(min(numbers)) #to find min
numbers.sort()
print(numbers[0])
print(numbers[-1])

10,20,30,40
[10, 20, 30, 40]
25.0
10
40

Write a program to check if a string is a palindrome (ignoring spaces and case).
Input: "A man a plan a canal Panama"
Output: True

In [ ]:
sen=input()
sent=sen.replace(" ","") #lower() and upper() are used in stringto change the cases
sentence= sent.lower()
l=len(sentence)
if l%2==0:
  for i in range(l//2):
    if sentence[i]!=sentence[l-i-1]:
      print('False')
      break
  else:
    print('True')
else:
  for i in range(l//2+1):
    if sentence[i]!=sentence[l-i-1]:
      print('False')
      break
  else:
    print('True')

A man a plan a canal Panama
True

Create a dictionary of student names (keys) and their marks (values).
Compute the average marks.
Print the names of students scoring above the average.
**Visualize the distribution of marks using a bar chart.**

In [ ]:
marks={}
marks['anisha']=88
marks['tanvi']=99
marks['harshal']=100
s=0
for i in marks:
  s+=marks[i]
average_marks=s/len(marks)
for i in marks:
  if marks[i]>average_marks:
    print(i)

tanvi
harshal

Create a list of tuples, where each tuple contains a number and its square (e.g., [(1, 1), (2, 4), (3, 9), ...] for numbers 1 to 10).
Plot the numbers and their squares on a scatter plot.

In [ ]:
sqrs=()
for i in range(1,11):
  sqrs+=(i,i**2)
print(sqrs)

(1, 1, 2, 4, 3, 9, 4, 16, 5, 25, 6, 36, 7, 49, 8, 64, 9, 81, 10, 100)

Write Python code to merge two dictionaries. If a key is present in both, sum their values.

In [ ]:
A={'a':1,'b':2}
B={'c':3,'d':4}
C=A|B
print(C)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

Write a function that accepts a string and:
Converts all characters to lowercase.
Counts the frequency of each character.
Returns a dictionary with characters as keys and their counts as values.
Visualize the character frequencies using a bar chart.

In [ ]:
s=input()
s=s.replace(" ","")
sent=s.lower()
dic={}
for i in sent:
  if i not in dic:
    dic[i]=1
  else:
    dic[i]+=1
print(dic)

i like him
{'i': 3, 'l': 1, 'k': 1, 'e': 1, 'h': 1, 'm': 1}

Write a program to remove duplicate elements from a list while maintaining the order of elements.
Calculate the mean and median of the unique elements.

In [ ]:
lists= list(map(int,input().split(',')))
uniq=[]
for i in lists:
  if i not in uniq:
    uniq+=[i]
print(uniq) #making new list instead of modifying the earlier one
s=0
for j in uniq:
  s+=j
n=len(uniq)
mean=s/n
print(mean)
if n%2==0:
  median=(uniq[n//2]+uniq[n//2-1])/2
else:
  median=uniq[n//2]
print(median)

1,1,2,3,2,3
[1, 2, 3]
2.0
2

Given a list of strings, write a Python function to:
Find the longest string.
Count how many strings start with a vowel.
**Visualize the distribution of string lengths using a histogram.**

In [ ]:
strings=list(map(str,input().split(', '))) #map must have two arguments
a=''
c=0
for i in strings:
  if len(i)>len(a):
    a=i
  if i[0] in 'aeiouAEIOU':# not is in, it is only 'in' + when used, if i[0] in 'aeiou' or 'AEIOU': , it works differently. why?
    c+=1
print(a)
print(c)

apple, cherry, blueberry, mango
blueberry
1

13 not done

Write a program to:
Split a string into a list of words.
Remove all words that are shorter than 4 characters.
Sort the remaining words alphabetically.
**Visualize the word lengths using a bar chart.**

In [3]:
sen=input()
words=sen.split(" ")
for i in words:
  if len(i)<4:
    words.remove(i)
print(words)
words.sort()
print(words)

i love Probability
['love', 'Probability']
['Probability', 'love']

Write a Python function to find all anagrams of a word in a given list.
Input: word = "listen", words = ["enlist", "google", "inlets", "banana"]
Output: ["enlist", "inlets"]

In [ ]:
word=input()
words=list(map(str,input().split(",")))
for i in words:
  if len(i)!=len(word):
    words.remove(i)
for j in words:
  for k in range(len(word)):
    if word[k] not in j:
      words.remove(j)
      break
print(words)

listen
inlets,apple,banana,enlist
['inlets', 'enlist']

Given two lists, write Python code to find their intersection, union, and symmetric difference.
Visualize the results using Venn diagrams.

In [ ]:
a=list(map(int,input().split(',')))
b=list(map(int,input().split(',')))
union=b
intersection=[]
for i in a:
  if i in b:
    intersection+=[i]
  else:
    union+=[i]
print(union)
print(intersection)
for j in intersection:
  if j in union:
    union.remove(j)
print(union)

1,2,3,4,5
5,6,4,2,3
[5, 6, 4, 2, 3, 1]
[2, 3, 4, 5]
[6, 1]

Word Count and Frequency:
Write a program to:
Read a file and count the number of words in it.
Find the most frequent word.
Visualize the word frequencies using a bar chart.

In [ ]:
fhand=open('MY FILE.txt')
count=0
f=0
a=0
b=0
Words=[]
for line in fhand:
  words=line.split(" ")
  Words+=words
  count=count+ len(words)
print(count)
for i in Words:
  for j in range (len(Words)):
        if i==Words[j]:
          f+=1
  if f>1:
    a=f
    b=i
    f=0
  else:
    f=0
if f>1:
  print(i)
else:
  print('no repeated word')

14
no repeated word

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

17,19,20 and 22 not done

Write Python code to calculate:
Mean, median, mode, and standard deviation of a list of numbers.
Visualize the data using a box plot.

In [ ]:
numbers=list(map(int,input().split(',')))
s=0
s1=0
l=len(numbers)
for i in numbers:
  s+=i
mean=s/l
print(mean)
numbers.sort()
if l%2==0:
  median=(numbers[l//2]+numbers[l//2-1])/2
else:
  median=numbers[l//2]
print(median)
for i in numbers:
  s1=s1+(i-mean)**2
  sd=(s1/l)**0.5
print(sd)

1,2,3,5,6
3.4
3
1.854723699099141

Write a Python program that takes an integer input from the user and prints whether the number is even or odd.

In [ ]:
n=int(input())
if n%2==0:
  print('even')
else:
  print('odd')

6
even

Write a Python program that takes a numerical grade (0-100) as input and prints the corresponding letter grade (A, B, C, D, F).

In [ ]:
marks=int(input())
if marks>=90:
    print('A')
elif marks>=80:
    print('B')
elif marks>=70:
    print('C')
elif marks>=60:
    print('D')
elif marks<60:
    print('F')
  #match-case??

54
F

Write a Python program that takes a year as input and checks if it is a leap year.

In [ ]:
#A year is a leap year if it is evenly divisible by 4.
#However, if the year is also evenly divisible by 100, it is not a leap year, unless:
#The year is evenly divisible by 400, in which case it is a leap year.
year=int(input())
if year%4==0:
  if year%100==0:
    if year%400==0:
      print('leap year')
    else:
      print('not a leap year')
  else:
    print('leap year')
else:
  print('not a leap year')

1920
leap year